/vendor
.env

/bootstrap/compiled.php

/build/logs
/build/coverage

/app/tests/_log

composer.phar
composer.lock

.DS_Store

/.idea
/_ide_helper.php

/app/config/packages
/public/packages
/public/storage

/node_modules

.env

