/vendor

/bootstrap/compiled.php

/build/logs
/build/coverage

/app/tests/_log

.composer
composer.phar
composer.lock

.DS_Store

/.idea
/_ide_helper.php

/app/config/packages
/public/packages
/public/storage
/public/js
/public/css
/public/audio
/public/mix-manifest.json

/node_modules

/.mysql-data/*
!/.mysql-data/.gitkeep

.env
